<div class="casamento_dress">
  <h1>Para facilitar a vida a todos os convidados, o traje do casamento é:<br><br>
  </h1>
  <h2>
   * FRAQUE - para os homens<br>
   * CHAPÉU ou ADEREÇO NA CABEÇA - para as mulheres
   </h2>
</div>