    <div>
        <ul>
            <li> Francisca & João </li>
        </ul>
        <br></br><br></br>
        <p>Copyright 2015 <a href="http://www.jntech.co.nf">JNTECH</a>. &nbsp;&nbsp;&nbsp; Designed by 
            <a href="http://www.jntech.co.nf">JNTECH</a>
        </p>
    </div>