<div class="container">

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Data</th>
        <th>Descrição</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody class="noticia-index">
      <%= render "index" %>
    </tbody>
  </table>
</div>
<div id="noticia-modal" class="modal fade"></div>