.justify {
    text-align: justify;
}

#errorName {
    color: red;
    text-align: center;
}

#errorEmail {
    color: red;
    text-align: center;
}

#errorMessage {
    color: red;
    text-align: center;
}