<!DOCTYPE html>
<html>
<head>
  <title>JNTECH</title>
    <meta name="google-site-verification" content="AtJQDsEGieZKe8iM73LlhyY92Qs23vqoASh719Z-7Qg" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    
    
</head>
<body>

<%= yield %>

</body>
</html>
